<div class='ui middle aligned center aligned grid' style="margin-top: 2%">
  <div class="ui stacked segment">

    <h3 class="ui dividing header"   style="margin-top: 5%">Possible Assets
      (<%= number_to_currency @investment.asset_amount %>)  </h3>

    <table class="ui celled table">
      <thead>
      <tr>
        <th>Symbol name</th>
        <th>Price</th>
        <th>Highest in one year</th>
        <th>Lowest in one year</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @assets_list.each do |asset| %>
        <tr>
          <td data-label="Symbol name"><%= asset[:symbol] %></td>
          <td data-label="Price"><%= asset[:price] %></td>
          <td data-label="Higher value in last 52 weeks"><%= asset[:fifty_two_week_high] %></td>
          <td data-label="Lowest value in last 52 weeks"><%= asset[:fifty_two_week_low] %></td>
          <td data-label="Actions">
            <div class="actions">
              <%= link_to 'Buy', buy_investments_path(price: asset[:price], name: asset[:symbol], money: @investment.asset_amount),method: :post, class: 'ui fluid large green submit button' %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>