
<h1 class="ui dividing header" style="margin-top: 5%">Portfolio</h1>

<p id="notice"><%= notice %></p>

<table class="ui celled table">
  <thead>
  <tr>
    <th>Asset</th>
    <th>Amount</th>
    <th>Value (USD)</th>
  </tr>
  </thead>
  <tbody>
  <% @portfolio.investments.each do |inv| %>
    <tr>
      <td data-label="Asset"><%= inv.name %></td>
      <td data-label="Amount"><%= inv.asset_amount&.round(3) %></td>
      <td data-label="Value in Dollar"><%= number_to_currency inv.dollar_value.round(3) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="ui teal message">
  Total:  <%= number_to_currency(@portfolio.dollar_value.round(3)) %>
</div>

