<!DOCTYPE html>
<html>
  <head>
    <title>Fuzzy Trader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="ui container right">
    <% if user_signed_in? %>
      <div class="ui fixed right menu" style="margin-top: 0;" >
        <div class="ui container" >
          <%= link_to "Hello, #{current_user.full_name}!", investments_path,
                      :class => 'header item' %>
          <%= link_to 'Portfolio', portfolios_path,
                      :class => 'header item' %>
          <%= link_to 'Edit profile', edit_user_registration_path,
                      :class => 'header item' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete,
                      :class => 'header item'  %>
        </div>
      </div>
    <% else %>
      <div class="ui two item menu" style="margin-top: 0;">
        <div class="ui container">
          <%= link_to "Sign up", new_user_registration_path, :class => 'item'  %>
          <%= link_to "Login", new_user_session_path, :class => 'item'  %>
        </div>
      </div>
    <% end %>

  <%= yield %>
  </body>
</html>
